﻿
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Default/Index.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Haber Akışı</h1>
            <h6>__________________________________________________________________________________________________________</h6>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h1>Videolar</h1>
            <h6>_______________________________________</h6>
            <h4>Efendi Beşiktaş</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="..."></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/tFYFqmJ7dTE" frameborder="0" allowfullscreen></iframe>
            </div>
            <h4>Vodafone Arena Açılış Marşı</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="..."></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_XM97dEWFtI" frameborder="0" allowfullscreen></iframe>
            </div>
            <h4>Şampiyonluk Marşı</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="..."></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TXuKGuaxOhk" frameborder="0" allowfullscreen></iframe>
            </div>
            <h4>Sessiz Tezahürat</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="..."></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/k_vQ-P2YxcI" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

